<p id="notice"><%= notice %></p>

<h1>Votes</h1>
Total votes: <%= @votes.size %>
<br/>
    <% @candidates_in_order.each do |candidate| %>
      Candidate <%= candidate.name %> has <%= @vote_hash[candidate.id] %> votes.
      <br/>
    <% end %>

<br>

<%= link_to 'New Vote', new_vote_path %>
